In [43]:
import pandas as pd
import os 

def merge_df():
    # Définir les dossiers sources
    cleaned_adzuna = '/run/media/dinasoa/b4c37e5f-ad8f-4388-a46b-666dc08d1a12/COURS_HEI/DONNEES2/DONNEES2_PROJET/TRAITEMENT/jobs-etl/merged/adzuna-main.csv'
    cleaned_pole = '/run/media/dinasoa/b4c37e5f-ad8f-4388-a46b-666dc08d1a12/COURS_HEI/DONNEES2/DONNEES2_PROJET/TRAITEMENT/jobs-etl/merged/pole-emploi-main.csv'
    adzuna_list = []  # Liste pour les dataframes d'adzuna
    pole_list = []  # Liste pour les dataframes de pole

    df1 = pd.read_csv(cleaned_adzuna)
    df2 = pd.read_csv(cleaned_pole)
    
    df_merged = pd.concat([df1, df2], ignore_index=True)

    
    print(df_merged)
    
    df_merged.to_csv(f'/run/media/dinasoa/b4c37e5f-ad8f-4388-a46b-666dc08d1a12/COURS_HEI/DONNEES2/DONNEES2_PROJET/TRAITEMENT/data.csv', index=False)

merge_df()

                      created  salary_max          id  \
0        2023-06-29T01:53:15Z     60000.0  4175453938
1        2023-07-17T11:25:50Z     60000.0  4209881425
2        2023-06-27T19:58:45Z     80000.0  4173539776
3        2023-06-28T01:09:14Z     60000.0  4173966092
4        2023-08-03T07:20:01Z         NaN  4239644983
..                        ...         ...         ...
977  2023-08-08T09:22:11.000Z         NaN     159MNKB
978  2023-08-08T07:23:21.000Z         NaN     159MKZW
979  2023-08-07T18:21:12.000Z         NaN     159MHJT
980  2023-08-07T17:54:17.000Z         NaN     159MGZQ
981  2022-09-25T07:41:15.000Z         NaN      787364

                                                 title  salary_min  \
0                                   Expert Réseau/Wifi     40000.0
1    Ingénieur Système - Surveillance et Renseignem...     40000.0
2          Ingénieur développement logiciel C++ sénior     60000.0
3               SPACE SEGMENT PROJECT DELIVERY MANAGER     40000.0
4                           Référent Cybersécurité H/F         NaN
..                                                 ...         ...
977  Technicien(ne) support de proximité en informa...         NaN
978  Technicien(ne) de maintenance de systèmes info...         NaN
979  Technicien / Technicienne de help desk en info...         NaN
980        Technicien / Technicienne en électroménager         NaN
981  Technicien(ne) maintenance matériels domestiqu...         NaN

     salary_is_predicted                                        description  \
0                    0.0  A la recherche d’un nouveau challenge?Cette op...
1                    0.0  Ingénieur Système - Surveillance et Renseignem...
2                    0.0  Ingénieur développement logiciel C++ sénior pa...
3                    0.0  Absolut Sensing is developing the technologies...
4                    0.0  Il existe 300 métiers différents chez BNP Pari...
..                   ...                                                ...
977                  NaN                                                NaN
978                  NaN                                                NaN
979                  NaN                                                NaN
980                  NaN                                                NaN
981                  NaN                                                NaN

         tag              category  \
0    it-jobs  Emplois Informatique
1    it-jobs  Emplois Informatique
2    it-jobs  Emplois Informatique
3    it-jobs  Emplois Informatique
4    it-jobs  Emplois Informatique
..       ...                   ...
977      NaN                   NaN
978      NaN                   NaN
979      NaN                   NaN
980      NaN                   NaN
981      NaN                   NaN

                                                  area  \
0    ['France', 'Ile-de-France', 'Val-de-Marne', 'N...
1    ['France', 'Pays de la Loire', 'Maine-et-Loire...
2    ['France', 'Ile-de-France', 'Hauts-de-Seine', ...
3    ['France', 'Occitanie', 'Haute-Garonne', 'Toul...
4    ['France', 'Ile-de-France', 'Seine-Saint-Denis...
..                                                 ...
977                                                NaN
978                                                NaN
979                                                NaN
980                                                NaN
981                                                NaN

                                 location          company contract_type
0    Fontenay-sous-Bois, Nogent-sur-Marne     SKILL EXPERT           NaN
1                  Cholet, Maine-et-Loire     Thales Group           NaN
2                 Gennevilliers, Nanterre     Thales Group           NaN
3                 Toulouse, Haute-Garonne  Absolut Sensing           NaN
4                      Montreuil, Bobigny      BNP PARIBAS           NaN
..                                    ...              ...           ...
977                                   NaN              NaN           CDD
978                                   NaN              NaN           CDI
979                                   NaN              NaN           MIS
980                                   NaN              NaN           CDI
981                                   NaN              NaN           CDI

[982 rows x 13 columns]